/*
    General Styles
*/
body{
    background: url("../img/starfield.jpg"); 
}
.cardBG{
    
    background: url("../img/SWbackgrounddesign.png");
    background-size:  100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    
}
.card{
    color:white;
    
    background-color: #272727;
    
    

}
.card-img-top{
    
    max-width:auto;
}
.card-body{
    border-top: 2px solid rgb(221, 117, 117);
    padding:0px;
    padding-left: 4%;
    padding-right:4%;
    padding-top:5%;
    
}
.bottomTitle{
    padding-top:2%;
    margin-bottom:1px;
    color: rgb(221, 117, 117);
}
