/*
    General Styles
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body{
    background-color: black;
    background: url("../img/starfield.jpg"); 
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.navbar{
    background-color: #272727;
}
.navbar-brand{
    color:white;
}
h1{
    margin-bottom:0px;
}
.cardBGSmall{
    
    background: url("../img/SWbackgrounddesign.png");
    background-size:  100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    
}
.cardSmall{
    color:white;
    margin:10%;
    background-color: #272727;
    
    

}
.card-img-top{
    
    max-width:auto;
}
.card-bodySmall{
    border-top: 2px solid rgb(221, 117, 117);
    padding:0px;
    padding-left: 4%;
    padding-right:4%;
    padding-top:5%;
    
}
.bottomTitleSmall{
    padding-top:2%;
    margin-bottom:1px;
    color: rgb(221, 117, 117);
}
.cardImgBig {
    height:100%;
    min-width:100%;
    border-right: 5px solid rgb(221, 117, 117);
}
.cardBig{
    color:white;
    
    background-color: #272727;
    
    

}
.card-bodyBig{
    
    padding:0px;
    padding-left: 4%;
    padding-right:4%;
    
    
}
.cardBgBig{
    
    background: url("../img/SWbackgrounddesign.png");
    background-size:  100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    
}
.bottomTitleBig{
    position: absolute;
    bottom:0;
    left:0;
    padding-left:2%;
    
    margin-bottom:0;
    color: rgb(221, 117, 117);
}
.row{
    margin-right:3%;
    
}
li {
    text-align:left;
}
.titleWrapper {
      width: 90%;
      height: auto;
      position: relative;
      background: transparent;
    }
    
  .titleWrapperTop{
    content: "";
    height: 100%;
    background-color: grey;
    width: 100%;
    color: white;
    border-top: none;
    border-bottom: 5px solid grey;
    border-radius: 10px 10px 0px 0px;
  }
  .titleWrapperMiddle{
    content: "";
    height: 100%;
    width: 80%;
    background-color: #272727;
    margin: auto;
    text-align: center;
  }
  .titleWrapperBottom{
    content: "";
    height: 100%;
    background-color: #272727;
    width: 100%;
    color: white;
    border-top: 5px solid grey;
    border-radius: 0px 0px 10px 10px;
  }
  .yodaDance{
      width:50%;
      height:100%;
  }